//colours
//neutrals
$neutral1: #ffffff;
$neutral2: #faf7f4;
$neutral3: #f1ede7;
$neutral4: #e7e2da;
$neutral5: #d6d1c8;
$neutral6: #a8a59e;
$neutral7: #6a6a6a;
$neutral8: #3a3a3a;
$neutral9: #1c1c1c;

//primary pinks
$pink1: #fff1f4;
$pink2: #ffe4eb;
$pink3: #ffc7d6;
$pink4: #efa1b8;
$pink5: #d98fa3; //accent
$pink6: #c46f86; //accent hover
$pink7: #a94f6a;
$pink8: #6d2d44;

//success
$success1: #eaede8;
$success2: #bed0c4;
$success3: #93b3a0;
$success4: #67977d;
$success5: #3c7a5a;
