@use "../../../styles/abstracts/variables" as *;
@use "../../../styles/abstracts/mixins" as mx;

.burger-menu-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 6px 0;
  border: none;
  background: none;
  cursor: pointer;

  .line {
    background-color: $pink6;
    border-radius: 3px;
    width: 50px;
    height: 6px;

    transition:
      transform 0.3s ease,
      opacity 0.3s ease;
  }

  &.open {
    .line1 {
      transform: translateY(12px) rotate(45deg);
    }

    .line2 {
      opacity: 0;
    }

    .line3 {
      transform: translateY(-12px) rotate(-45deg);
    }
  }
}
